body {
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.centered {
  text-align: center;
}

#startbutton {
  margin: 0 auto;
  width: 320px;
  height: 50px;
}

label {
  position: relative;
  vertical-align: middle;
  bottom: 5px;
}

.content {
  overflow: hidden;
}

#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hidden {
  display: none;
}