body {
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.centered {
  text-align: center;
}

#startbutton {
  margin: 0 auto;
  width: 79%;
  height: 50px;
}

label {
  position: relative;
  vertical-align: middle;
  bottom: 5px;
}

.override {
  position: relative;
  left: 40px;
  overflow: hidden;
}

.content {
  overflow: hidden;
}